<%= form_for(@topics_doc_drop) do |f| %>
  <% if @topics_doc_drop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topics_doc_drop.errors.count, "error") %> prohibited this topics_doc_drop from being saved:</h2>

      <ul>
      <% @topics_doc_drop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doc_id %><br />
    <%= f.number_field :doc_id %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br />
    <%= f.number_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
