<h1>List of Topics</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @topics.each do |topic| %>
  <tr>
    <h1><%= topic.id %></h1>
    <% (1..3).each do |i| %>
       <% tag = "word_" + #{i} %>
    <% end %>
    <tr><%= topic.word_1 %></tr> 
    
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
